<div id="react-root"></div>

<script type="text/javascript">
  window.API_URL = '{{API_URL}}';
</script>
<script type="text/javascript" src="{{ chunks.vendor.[0].publicPath }}"></script>
<script type="text/javascript" src="{{ chunks.app.[0].publicPath }}"></script>
