$dodger-blue: #4372fd;
$shadow-color: rgba(50, 84, 165, 0.31);

$black: #1a1a1c;
$grey: #999;
$light-grey: #e4e4e7;
$off-white: #f1f0f0;
$white: #fff;

$border-color: $light-grey;

$in-back: cubic-bezier(0.6, -0.28, 0.74, 0.05);
$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
